.ProyectosList{
    margin: auto;
    width: -100px;
    padding: 100px;
}

.botonMisProyectosUsuario{
    margin: 1%;
    text-align: center;
    cursor:pointer;
    width: 150px;
    padding: 7px;
    position: relative; 
    bottom: -1%; right: 15%;
}