.navbarLogeado{
    background-color: #276E90;
    display: flex;
    width: 100vw;
}

img {
    height:70px;
    width:70px;
}

.botonAyudaLogeado{
    background-color:#CECFC9 ;
    margin: 5px;
    text-align: center;
    border-radius: 20px;
    cursor:pointer;
    width: 20%;
    padding: 10px 0px;
    position: relative; 
    text-decoration:none;
    color:black;
    bottom: -5px; right: -200px;
}

.InformacionCentral{
    position: absolute;
    width: 1000px;
    margin: auto;
    height: 70px;
    left: 162px;
    top: 150px;
    background: #276E90;
    border-radius: 100px;
    display: flex;
}

.centerTitulo{
   margin: auto;
   width: 700px;
   padding: 10px;
   text-align: center;
}

.filterBlock{
    position: relative;
    right: -50%;
    top: 8px;
    display: inline-block;
}

.botonCrearProyecto{
    cursor:pointer;
    width: 20%;
    margin: 1%;
    position: relative; 
    color:black;
    text-align: center;
    bottom: -1%; right: -10%;
}

.botonMisProyectos{
    margin: 1%;
    text-align: center;
    cursor:pointer;
    width: 20%;
    padding: 5px 70px;
    position: relative; 
    bottom: -1%; right: -20%;
}

.fondoA {
    background-color: #D9D9D9;
    width: 100%;
    height: 100%;
    display: flex;
}

.centertable{
    margin: auto;
    padding: 60px;
}

.table{
    background-color: #CECFC9;
    border-radius: 20px;
    padding: 15px;
    width: 90vw;
    text-align: center;
}

.InformacionCentralUsuario{
    position: absolute;
    width: 1000px;
    margin: auto;
    height: 70px;
    left: 162px;
    top: 150px;
    background: #276E90;
    border-radius: 100px;
    display: flex;
}

.filterBlockUsuario{
    position: relative;
    right: 80%;
    top: 7px;
    width: 150%;
    display: inline-block;
}

.navbarLogeadoUsuario{
    background-color: #276E90;
    display: flex;
    width: 100vw;
}
.centerTituloUsuario{
    margin: auto;
    width: 700px;
    padding: 20px;
    text-align: center;
 }
.botonCerrarSesion{
    background-color:#CECFC9 ;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    cursor:pointer;
    width: 20%;
    padding: 10px 0px;
    position: relative; 
    text-decoration:none;
    color:black;
    bottom: -5px; right: -200px;
}