
.container_login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #D9D9D9;
}
.loginForm {
    width: 420px;
    padding-top: 2px;
    padding-bottom: 30px;
    border-radius: 8px;
    background-color: #276E90
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.titulo{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: 600;
}

.form-group{
    display: flex;
    padding: 10px;
}

input[type=text]{
    display: block;
    background-color: white;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}
input[type=password]{
    display: block;
        background-color: white;
        width: 100%;
        padding: 8px;
        margin: 8px 0;
}

.navbarInicio{
    background-color: #276E90;
}

img {
    height:70px;
    width:70px;
}

.navbar-text{
    padding: 10px;
}

.botonIngresar{
    border-radius: 30px;
    cursor:pointer;
    width: 60%;
    position: relative; 
    padding: 15px 20px;
    bottom: -22px; right: 50px;
}

.botonRegistrarse{
    background-color:#CECFC9 ;
    border-radius: 30px;
    cursor:pointer;
    width: 60%;
    padding: 12px 20px;
    position: relative;
    color:black;
    text-decoration:none;
    bottom: 15px; right: -100px;
}

.botonInicio{
    background-color:#CECFC9 ;
    border-radius: 20px;
    cursor:pointer;
    width: 20%;
    margin: 20px;
    position: relative; 
    color:black;
    padding: 10px 70px;
    text-align: center;
    text-decoration:none;
    bottom: -5px; right: -100px;
}


.botonAyuda{
    background-color:#CECFC9 ;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    cursor:pointer;
    width: 20%;
    padding: 10px 70px;
    position: relative; 
    text-decoration:none;
    color:black;
    bottom: -5px; right: -200px;
}