.botonCrearPregunta{
    margin: 1%;
    text-align: center;
    cursor:pointer;
    width: 150px;
    padding: 7px;
    position: relative; 
    bottom: -1%; right: -2%;
}

.dropdownTamaño{
    height: 200px;
    table-layout: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

.botonSeleccionadas{
    margin-right: 10px;
}