.verDatos {
    width: 790px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: #CECFC9
}

.editarDatos{
    border-radius: 30px;
    cursor:pointer;
    width: 50%;
    position: relative; 
    padding: 10px 20px;
    bottom: -1%; right: 10%;
}

